.audio-ui {
    position: fixed;
    left:10px;
    top:10px;
    
    width:200px;
    height:60px;
    &__wrapper {
        display:block;
        position: relative;
        width:100%;
        height:100%; 
        /* background-color:#fff; */
        display:flex;
      
    }
}

.playWrapper {
    width:60px;
    height:60px;
    overflow: hidden;
    display:block;
    position: relative;
    float:right;
    justify-content:space-between;
    transform:scale(0.7);

    
   
}
.playWrapper::after {

}
.playWrapper .playToggler {
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    cursor: pointer;
    width:60px;
    height:60px;
    opacity: 0;
}
.playWrapper .stopToggler {
    position: absolute;
    top:0;
    left:0;
    z-index:2;
    cursor: pointer;
    width:60px;
    height:60px;
    opacity:0;
    
}

.playWrapper .playToggler:checked + .playBtn > span.pause::before {
   
  transform:scaleY(1);
}
.playWrapper .stopToggler:checked + .stopBtn > span.mute-active {
   
   opacity:1;
}
.playWrapper .playToggler:checked + .playBtn > span.pause::after {
   
  transform:scaleY(1);
}
.playWrapper .playToggler:checked + .playBtn > span.pause {
   
   transform:translateX(-50%) translateY(-50%) scaleY(0.8);
   opacity:1;
   
}

.playWrapper .playToggler:checked + .playBtn > span.triangle {
   
    opacity:1;
    transform:scaleY(0);
}
.playWrapper .stopToggler:checked + .stopBtn > span.mute-active {
    
    opacity:1;
    transform: rotate(-45deg) scaleY(1);
}
.playWrapper .stopBtn {
    position: absolute;
    top:0;
    left:0;
    z-index:0;
    width:60px;
    height:60px;
    display:flex;
    border-radius: 15px;
    align-items:center;
    justify-content:center;
  
}
.playWrapper .playBtn {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
    width:60px;
    height:60px;
    display:flex;
    border-radius: 15px;
    align-items:center;
    justify-content:center;
  
}
.playWrapper .stopBtn .mute {
    opacity:1;
    position: absolute;
    width: 45px;
    height: 45px;
    display:block;
    z-index:0;
    transition:0.1s all ease; 
    transform-origin:left;
    background:url('../../assets/images/mute.png') center no-repeat; 
    transform:scaleY(1);
    opacity:1;
  
    
}
.playWrapper .playBtn .triangle {
    opacity:1;
    position: absolute;
    width: 45px; 
    height: 45px;
    display:block;
    transition:0.1s all ease; 
    transform-origin:left;
    background:url('../../assets/images/triangle.png') center no-repeat; 
    transform:scaleY(1);
    opacity:1;
  
    
}
.playWrapper .stopBtn span.mute-active {
 
  position: absolute;
  width:8px;
  height:60px;
  left:5px;
  top:10px;
  transform-origin:0 0;
  opacity:1;
  z-index:3;
  transform: rotate(-45deg) scaleY(0);
  
  transition:0.1s all ease;
  background-color:#1A1A1A;
  border-right:1px solid #A6CAFF;
  border-left:1px solid #A6CAFF;
}
.playWrapper .playBtn > span.pause {
  opacity:1;
  position: absolute;
  width:45px;
  height:45px;
  left:50%;
  top:50%;
  transform:translateX(-50%) translateY(-50%) scaleY(1);
  transition:.1s all ease;
}
.playWrapper .playBtn > span.pause::before {
    border-radius: 3px;
    content:'';
    display:block;
    transform-origin: center;
    width:14px;
    height:37px;
    position: absolute;
    z-index:1;
    background-color:#1A1A1A;
    transform:scaleY(0.5);
    top:5px;
    left:6px;
    transition:.1s all ease;
    
}
.playWrapper .playBtn > span.pause::after {
    border-radius: 3px;
    transition:.1s all ease;
    transform-origin: center;
    content:'';
    display:block;
    width:14px;
    height:37px;
    position: absolute;
    z-index:1;
    background-color:#1A1A1A;
    right:4px;
    top:5px;
     transform:scaleY(0);
 
}
.audio-ui {
     position: fixed;
    left:20px;
    top:20px; 
    &::after {
        content:'';
        display:block;
        clear: both;
    }
}